@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pirata+One&display=swap');

#card {
    background-color: #242633;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-around;
    margin: 10% 15% 20% 15%;
    width: 70%
}

img {
    max-width:100%;
    padding: 15% 10% 15% 10%;
}

#image {
    width: 40%;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: auto;
}

#information {
    width: 40%;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: left;
    justify-content: center;
}

#titleCard {
    font-family: 'Pirata One', cursive;
    padding-top: 1em;
    font-size: 150%;
}

#attribution {
    font-size: 80%;
    color: #9FA1AD;
    font-style: italic;
    font-weight: bold;
}

#descriptionCard {
    font-size: 90%;
}

button {
    padding: 5% 10% 5% 10%;
    background-color: #24263300;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    font-size: 60%;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}