.contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.cont-card{
    font-family: 'Lato';
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    margin: 50px 0;
}

.cont-texto{
    padding: 20px 60px ;
}

.img-header{
    width: 100%;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.character-name{
    font-weight: 800;
    font-size: 40px;
}

.actor{
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Varela';
    font-size: 12px;
}

.description{
    font-family: 'Karma';
    text-align: left;
    font-weight: 400;
}


.video{
    cursor: pointer;
    margin: 30px 0;
    border-style: none;
    padding:  10px 20px;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: bold;
    border:3px solid #000;
    background: #fff;
}