* {
    margin: 0;
    padding: 0;
}

.Card {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    background: #7E597D;
}

.Info {
    display: flex;
    flex-direction: column;
}

.Titulo {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;

    color: #FFFFFF;
}

.Autor {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    text-align: left;

    color: #FFFFFF;
}

.Boton {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    background: none;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-align: center;

    color: #FFFFFF;
}

.Descripcion {
    width: 33%;

    font-family: Ubuntu;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.Libro {
    width: 33%;
}